.container {
    width: 100%;
    display: flex;
    height: 1000px;
    justify-content: space-between;
  }
  .left-info {
    width: 30%;
  }
  .left-info ul {
    width: 139px;
    height: 141px;
    margin-left: 88px;
    list-style: none;
    margin-top: 377px;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
  }
  .left-info ul h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .left-info ul li {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    margin-top: 11px;
  }
  .chosen-info {
    left: 11px;
  }
  
  .right-info {
    width: 70%;
  }
  .right-info-account {
    height: 109px;
    width: 907px;
    border-radius: 0px;
  
    border: 1px solid;
    margin-top: 220px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  
  .account-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: start;
    row-gap: 15px;
    align-items: end;
    padding: 20px 40px 20px 40px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  .account-header .item:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }
  .account-header .item:last-child {
    place-items: center;
  }
  
  .account-body {
    margin-top: 48px;
    height: 402px;
    width: 933px;
    border-radius: 0px;
  }
  .account-body h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }
  .account-edit {
    margin-top: 48px;
  }
  .account-edit > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 39px;
  }
  .account-edit > form > .item {
    display: flex;
    justify-content: end;
  }
  .account-edit > form > .item > label {
    width: 20%;
  }
  
  .account-edit > form > .item > input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-left: 12px;
    padding-bottom: 12px;
    color: #4f4f4f;
  }
  .account-edit > form > .item > input:focus {
    color: #000;
  }
  .account-edit > form > button {
    height: 39px;
    width: 300px;
    border-radius: 0px;
    padding: 10px 40px 10px 40px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  
  /* đơn hàng của tôi css */
  
  .account-body > .order-edit > .item-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    margin-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
  }
  .account-body > .order-edit > .item-headers > .item-header {
    display: flex;
    justify-content: center;
  }
  .account-body > .order-edit > .item-bodys {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    height: 93px;
  }
  .account-body > .order-edit > .item-bodys:hover {
    background: #e5e5e5;
  }
  .account-body > .order-edit > .item-bodys > .item-body {
    display: flex;
    justify-content: center;
  }
  
  .item-body-img {
    display: flex;
    align-items: center;
  }
  
  .item-body-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 25px;
    width: 80px;
    height: 80px;
  }
  .img-info .img-info-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .img-info .img-info-name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4f4f4f;
  }
  .img-info .img-info-pri {
    display: flex;
    justify-content: space-between;
    color: #4f4f4f;
  }
  
  /* thông tin giao hàng */
  
  .left-goods {
    width: 50%;
  }
  
  .wrap-left {
    margin-top: 120px;
    margin-left: 215px;
    width: 482px;
    height: 229px;
  }
  .wrap-left h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 48px;
  }
  .warp-left-body .row1 {
    margin-bottom: 48px;
  }
  .warp-left-body .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .warp-left-body .row2 {
    margin-bottom: 48px;
  }
  .warp-left-body .row2 h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
  }
  .body-transports {
    border: 1px solid;
    padding: 20px 20px;
  }
  .body-transports .😀 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .body-transports .😀:last-child {
    margin-bottom: -10px;
  }
  .warp-left-body .row3 .body-buy {
    border: 1px solid;
    padding: 20px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .warp-left-body .row3 .body-buy label {
    margin-left: 10px;
  }
  .warp-left-body .row3 h3 {
    margin-bottom: 22px;
  }
  .right-goods {
    width: 50%;
  }
  
  .right-goods .good {
    width: 519px;
    height: 400px;
    margin-right: 239px;
    margin-top: 120px;
    margin-left: 100px;
  }
  
  .right-goods .good h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 25px;
  }
  .right-goods .good .row1 {
    display: flex;
    justify-content: space-between;
  }
  .right-goods .good .row1 .content {
    display: flex;
  }
  .right-goods .good .row1 .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 32px;
  }
  .right-goods .good form {
    margin-top: 25px;
    border-bottom: 1px solid #000000;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  .right-goods .good form > input {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    width: 300px;
    height: 39px;
    outline: none;
    color: #000000;
  }
  .right-goods .good form > input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1; /* Firefox */
  }
  .right-goods .good form > button {
    padding: 10px 40px;
    width: 140px;
    height: 39px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: 39px;
  }
  .right-goods .good .row2 {
    padding-bottom: 17px;
    border-bottom: 1px solid;
    margin-bottom: 25px;
  }
  
  .right-goods .good .row2 .items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  .right-goods .good .row3 .items {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  
  
/*  trang Thanh toan */
.delivery-info > form {
    display: grid;
    grid-template-areas: 
    'info1 info2'
    'info3 info4'
    'info5 info6'
    'note1 note1';
    row-gap: 32px;
    column-gap: 39px;
  }
  .delivery-info > form > div:nth-child(1){
    grid-area: info1;
  }
  .delivery-info > form > div:nth-child(2){
    grid-area: info2;
  }
  .delivery-info > form > div:nth-child(3){
    grid-area: info3;
  }
  .delivery-info > form > div:nth-child(4){
    grid-area: info4;
  }
  .delivery-info > form > div:nth-child(5){
    grid-area: info5;
  }
  .delivery-info > form > div:nth-child(6) {
    grid-area: info6;
  }
  .delivery-info > form > div:nth-child(7){
    grid-area: note1;
  }
  .delivery-info > form .item > input {
    width: 100%;
    height:29px;
    line-height: 1.8;
    border: none;
    font-size: 16px;
  }
  .delivery-info{
    padding: 24px 0 24px 0;
  }
  .delivery-info > .delivery-question{
    padding-bottom: 48px;
  }
  .delivery-info > .delivery-question > a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
  }
  .delivery-info > form .item > input::placeholder {
    color: #000000;
    opacity: 1;
  }
  .delivery-info > form .item{
    border-bottom: 1px solid #000000;
  }
  .delivery-info > form > .delivery-note{
    height: 100px;
  }
  .delivery-info > form > .delivery-note > textarea{
    border: 1px solid #c4c4c4;
    font-size: 16px;
    resize: none;
    width: 100%;
    height: 100%;
  }
  .delivery-info > form > .delivery-note > textarea::placeholder {
    color: #000000;
    opacity: 1;
  }
  .delevery-left {
    margin-top: 120px;
    margin-left: 215px;
  }
  .left-goods .delevery-method {
    width: 385px;
  }
  .delevery-method > h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .right-goods > .good > .done{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  .right-goods > .good > .bill{
    border: 1px solid #c4c4c4;
    padding: 15px;
  }
  .right-goods > .good > .done > a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  .right-goods > .good > .done > a > button{
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 212px;
    height: 39px;
  }